<div class="container">
  <section class="tutor">
    <div class="media">
      <div class="media-left media-top avatar">
        <img src="{{unbound tutor.avatar_url}}" class="img-circle"/>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          {{tutor.name}}
        </h4>
        {{tutor.info}}
      </div>
    </div>
  </section>
</div>
